* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.header_navigation {
  display: flex;
  justify-content: space-between;
}

.left_header {
  margin-left: 20px;
}

.left_header:hover {
  transform: scale(1.2, 1.3)
}

.navigation {
  margin-left: 60px;
  margin-right: 90px;
  display: flex;
  justify-content: center;
  padding: 20px;
  list-style-type: none;
  flex-wrap: wrap;
}

.navigation:hover {
  transform: scale(1.1, 1.2);
}

.agency {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #747474;
  margin: 40px 0px 15px 70px;
}

.mail {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
  text-decoration: none;
  margin-left: 70px;
}
 

.link_navigation {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  padding: 20px;
  color:black;
  text-decoration: none;
  margin-top: 30px;
  transition: width;
}


 .span {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  color: #747474;
 }

 .header_container {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   margin-top: 115px;
   margin-right: 15px;

 }

 .herder_img1 {
  position: relative;
  height: 90vh;  
  width: 50vw;
 }

 .header_img2 {
   position: absolute;
   width: 25vw;
   height: 234px;
   left: 35%;
   top: 59px;
 }

 .We_believe_that {
    margin-top:100px ;
    margin-left: 60px;
    margin-right: 50px;
}

.title_big,
.title     {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
  text-transform: uppercase;
  color: #000000;
}

.title_small {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 49px;
  line-height: 60px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #000000;
}

.title::before {
  content:'"';
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 60px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #000000;
}

.title::after {
  content:'"';
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 60px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #000000;
}

.btn_work {
  width: 138px;
  height: 138px;
  background: #000000;
  border-radius: 69px;
  margin-top: 90px;
}

.work {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #FFFFFF;
}








.title_partner {
  margin-top: 100px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 27px;
  line-height: 32px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.title_forward {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 32px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.homey {
  margin:50px auto;
  width: 1023px;
  height: 94px;
  background-image: url(/img/Снимок\ экрана\ 2022-08-11\ в\ 06.47\ 1.png); 
}







.the_perfect {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content:center;
  margin-left: 120px;
}

.block_perfect {
  margin-top:115px ;
}

.paragraph {

  margin-top: 30px;
  margin-bottom: 10px;
  max-width: 380px;
  height: 100px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 25px;
  color: #747474;
}

.list_wrapper {
  margin-top: 330px;
  margin-right: 120px;
}

.list {
  list-style-type: none;
}

.text_title {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 15px;
}

.text {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 25px;
  color: #747474;
  margin: 9px 0 ;
  text-align: center;
}

.page {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 1px;
  color: #747474;
}

.list_text {
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.list_top,
.list_bottom {
  width: 25vw;
  min-height: 150px;
}

.list_top {
  margin-bottom: 80px;
} 

.page1 {
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 30px;
text-transform: uppercase;
color: #000000;
}




.selectedwork {
  text-align: center;
  margin-top: 150px;
}



.wrapper_selected {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin: 20px 240px 110px 240px;
}

.img_selected {
  width: 470px;
  height: 500px;
  margin-bottom: 40px;
}

.img_ithem:nth-child(2n) {
  margin-top: 100px;
}

.img_ithem:hover {
  transform: scale(1.1, 1.1);
}

.text_tmg {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  }



  .Improve_your_brand {
    width: 428px;
    height :159px;
    margin-left: 190px ;
    margin-top: 100px ;
  }

  .title_Improve {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 53px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #000000;
  }

  .title_Improve_small{
    font-weight: 400;

  }

  .letter-spacing {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 30px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-top: 20px;
   }

   .Comprehensive {
     margin-top: 40px;
   }
   
   .Lorem {
     margin-top: 10px;
   }

   .Improve_flex {
     display: flex;
     justify-content: space-between;
     flex-wrap: wrap;
     align-content:center;
   }

   .What {
     text-align:center;
     margin-top: 150px;
     margin-left: 100px;
   }

   .review_block {
     display:flex;
     justify-content: space-between;
     flex-wrap: wrap;
     align-content:space-around;
     margin-left: 10px;
     margin-right: -15px;
   }

   .review {
     width: 460px;
     height: 350px;
     text-align: center;
     border: 1px solid black;
     border-radius: 10px;
     margin-top: 115px;
   }
    
   .review:nth-child(2n+1) {
     opacity: 0.4;
     }

   .review_paragraph {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    margin: 35px 50px;
   }

   .img_review {
     margin: 0 190px;
   }

   .quadrate_menu {
     display:flex;
     justify-content: center;
     margin-top: 30px;
     gap:5px;
   }

   .quadrate {
     width: 10px;
     height: 10px;
     background-color:#747474;
     transition: width,height;
     transition-duration: 500ms;
   }

   .quadrate:hover {
     width: 15px;
     height: 15px;

   }
   
   .quadrate:nth-child(1) {
     background-color:black;
   }

   
   
   
   
   .our {
     width: 50vw;
     height: 600px;
     background-color:black;
     flex-shrink: 2;
   }

   .skills {
     color:white;
     text-align: center;
     padding-top: 90px;
   }

   .our_skills {
     display: flex;

     margin-top: 100px
   }
 
   .skills_block {
     margin-left: 110px;
     margin-top: 80px;
     max-width: 420px;
     color:white;
     display: flex;
     justify-content: space-between;
   }

   .paragraph_skills {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 30px;
    padding-bottom: 10px;
   }

   .graphic {
     width: 340px;
     padding-bottom: 10px;
     border-bottom: 1px solid white;
   }

   .generation {
    width: 170px;
    padding-bottom: 10px;
    border-bottom: 1px solid white;
   }

   .photoshop {
    width: 300px;
    padding-bottom: 10px;
    border-bottom: 1px solid white;
   }

   .paragraph-skills {
     padding-top: 40px;
    margin-left: 110px;
     width: 420px;
     border-top: 1px solid white;
     font-family: 'Roboto', sans-serif;
     font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: rgba(255, 255, 255, 0.7);
   }

   .fun {
     text-align: center;
     margin-top: 120px;
   }

   .icons {
     margin-top: 55px;
     display: flex;
     justify-content:space-around;
   }

   .znac::before {
     content:url(img/znak.png);
     margin-right: 10px;
   }

   .parentheses::before {
     content:url(img/parentheses.png);
     margin-right:10px;
   }

   .cup::before {
     content:url(img/cup.png);
     margin-right: 10px;
   }


   .our_block {
     margin-left: 120px;
   }

   .title_our_blig {
     display: flex;
     justify-content: space-between;
     align-items:center;
   }

   .btn_our {
     margin-right: 120px;
     margin-bottom: 50px;
   }

   .img_block {
     margin-left: 120px;
     margin-right: 120px;
     display: flex;
     justify-content: space-around;
     flex-wrap: wrap;
    }

    .btn_our_one {
      padding: 7px;
      background-color:white;
      border-radius:30px;
      border:1px solid black;
      font-family: 'Roboto', sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 12px;
      line-height: 20px;
      letter-spacing: 1px;
      text-transform: uppercase;
      margin-top: 50px;
    }


    .paragraph_our {
      margin-top: 20px;
      max-width: 380px;
      min-height: 60px;
      font-family: 'Roboto', sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 26px;
      line-height: 31px;
      text-transform: uppercase;
    }

    .date {
      margin-top: 30px;
    }

    .lets {
      height: 340px;
      width: 100vw;
      background-color:black;
      display: flex;
      justify-content: space-between;
      align-items:center;

    }

    .block_lets {
      margin-top: 100px;
      margin-left: 120px ;
    }

    .title_lets {
      
      font-family: 'Roboto', sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 94px;
      line-height: 94px;
      text-transform: uppercase;
      color: white;
    }

    .title_lets_small {
      font-family: 'Roboto', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 66px;
      line-height: 94px;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: white;
    }

    .btn_lets {
      margin-right: 150px;
      width: 140px;
      height: 140px;
      border-radius:50%;
      border:1px solid white;
      font-family: 'Roboto', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      text-align: center;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: #000000;
    }
    
    .roby_footer {
      margin-top: 80px;
      margin-left: 120px;
      margin-right: 120px;
      display: flex;
      justify-content: space-between;
      align-items:center;
      
    }

    .link {
      margin: 15px;
      text-decoration: none;
    }

    .icons_footer:hover {
      transform: scale(1.1, 1.2);
    }

    .menu_title {
      font-family: 'Roboto', sans-serif;
      font-weight: 700;
      font-size: 20px;
      line-height: 30px;
      text-transform: uppercase;
      transition: font-size;
      transition-duration: 500ms;
    }

    .menu_title:hover {
      font-size: 25px;

    }

    .address {
      margin-top: 20px;
      text-decoration: none;
    }

    .btn_map {
      font-family: 'Roboto', sans-serif;
      font-weight: 700;
      font-size: 15px;
      line-height: 21px;
      text-transform: uppercase;
      color:white;
      padding: 16px 28px;
      background-color:black;
      border-radius:30px;
      border:1px solid black;
      text-decoration: none;
    }

    .btn_map:hover {
      color:#747474;
    }




    .link_navigation_footer {
      font-family: 'Roboto', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 23px;
      text-decoration: none;
      color:black;
    }

    .navigation_footer {
      margin-top: 20px;
      list-style-type: none;
    }

    .navigation_footer:hover {
      transform:scale(1.1, 1.1);
    }


    .footer_menu {
      margin: 60px 120px 30px 120px;
      display:flex;
      flex-wrap: wrap;
      gap: 30px;
      justify-content: space-between;
      align-content:center;
      align-items:baseline;
    }

    .contact-link { 
      margin-top:20px;
    }

    .contact{
      align-self:flex-start;
    } 

    

    .footer_end {
      margin-left: 120px;
      margin-bottom: 20px;
      font-family: 'Roboto', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 17px;
      line-height: 22px;
      color: #747474;
    }